h1 {
  margin-top: 0;
  font-size: 5.62rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #4E944F;
}

h2 {
  font-size: 2.5rem;
  padding-top: 10px;
  color: #4E944F;
  font-weight: bold;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Libre Bodoni', serif;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.one {
  background-color: #E9EFC0;
  position: relative;
  padding-top: 120px;
}

.two {
  background-color: white;
}

.three {
  background-color: #B4E197;
}

.cloud1 {
  position: absolute;
  top: 71px;
  right: 300px;
  height: 73px;
  width: 183px;
}

.cloud2 {
  position: absolute;
  left: 300px;
  height: 73px;
  width: 183px;
}

.icons {
  height: 7%;
  width: 7%;
}

hr {
  border-style: dotted none none;
  width: 7%;
  background-color: inherit;
  border-color: #069A8E;
  border-width: 5px;
  margin: 0 auto 0 auto;
  opacity: 1;
}

.important {
  text-decoration: underline;
}

.highlight {
  font-size: 1.5rem;
  font-weight: bold;
}

.body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.skills {
  padding-top: 50px;
}

.contact-me {
  padding-top: 0;
}

.button {
  font-family: 'Libre Bodoni', serif;
  font-weight: bold;
  font-size: 1rem;
  padding: 6px;
}

.moving {
  padding: 3% 15%;
  padding-bottom: 3%;
}

.project-one {
  background-color: #E9EFC0;
}

.headline {
  padding-top: 60px;
}
.message {
  position: absolute;
  right: 0;

}
#time{
  margin-bottom: 0;
}
.button:hover{
  border: none;
}
.contactgif:hover{
  height: 6%;
  width:6%;
}
.skillicon:hover{
  height: 8%;
  width: 8%;
}
.padding108top{
  padding-top: 108px;
}
/*size condition---------------------------------------------------------------*/
@media (max-width:620px) {
  .mountain {
    width: 350px;
  }

  h1 {
    font-size: 2.8rem;
    margin-top: 0;
  }

  h2 {
    font-size: 1.25rem;
  }

  .highlight {
    font-size: 1.25rem;
  }

  .cloud1 {
    width: 75px;
    height: 24px;
  }

  .cloud2 {
    width: 75px;
    height: 24px;
  }

  .button {
    font-family: 'Libre Bodoni', serif;
    font-weight: bold;
    font-size: 75%;
    padding: 0;
    width: 92px;
    height: 20px;
  }

  .icons {
    height: 14%;
    width: 14%;
  }
  #time{
    display: none;
  }
}
